<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wl.dao.TbUserDao" >
  <resultMap id="BaseResultMap" type="com.wl.entity.TbUser" >
    <id column="USER_ID" property="userId" jdbcType="DECIMAL" />
    <result column="USER_NAME" property="userName" jdbcType="VARCHAR" />
    <result column="USER_PASSWORD" property="userPassword" jdbcType="VARCHAR" />
    <result column="USER_FACE" property="userFace" jdbcType="VARCHAR" />
    <result column="USER_SEX" property="userSex" jdbcType="VARCHAR" />
    <result column="USER_PHONE" property="userPhone" jdbcType="VARCHAR" />
    <result column="USER_OICO" property="userOico" jdbcType="VARCHAR" />
    <result column="USER_EMAIL" property="userEmail" jdbcType="VARCHAR" />
    <result column="USER_FROM" property="userFrom" jdbcType="VARCHAR" />
    <result column="USER_ABLE" property="userAble" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    USER_ID, USER_NAME, USER_PASSWORD, USER_FACE, USER_SEX, USER_PHONE, USER_OICO, USER_EMAIL, 
    USER_FROM, USER_ABLE
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.math.BigDecimal" >
    select 
    <include refid="Base_Column_List" />
    from TB_USER
    where USER_ID = #{userId,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.math.BigDecimal" >
    delete from TB_USER
    where USER_ID = #{userId,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="com.wl.entity.TbUser" >
    insert into TB_USER (USER_ID, USER_NAME, USER_PASSWORD, 
      USER_FACE, USER_SEX, USER_PHONE, 
      USER_OICO, USER_EMAIL, USER_FROM, 
      USER_ABLE)
    values (#{userId,jdbcType=DECIMAL}, #{userName,jdbcType=VARCHAR}, #{userPassword,jdbcType=VARCHAR}, 
      #{userFace,jdbcType=VARCHAR}, #{userSex,jdbcType=VARCHAR}, #{userPhone,jdbcType=VARCHAR}, 
      #{userOico,jdbcType=VARCHAR}, #{userEmail,jdbcType=VARCHAR}, #{userFrom,jdbcType=VARCHAR}, 
      #{userAble,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.wl.entity.TbUser" >
    insert into TB_USER
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        USER_ID,
      </if>
      <if test="userName != null" >
        USER_NAME,
      </if>
      <if test="userPassword != null" >
        USER_PASSWORD,
      </if>
      <if test="userFace != null" >
        USER_FACE,
      </if>
      <if test="userSex != null" >
        USER_SEX,
      </if>
      <if test="userPhone != null" >
        USER_PHONE,
      </if>
      <if test="userOico != null" >
        USER_OICO,
      </if>
      <if test="userEmail != null" >
        USER_EMAIL,
      </if>
      <if test="userFrom != null" >
        USER_FROM,
      </if>
      <if test="userAble != null" >
        USER_ABLE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        #{userId,jdbcType=DECIMAL},
      </if>
      <if test="userName != null" >
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="userPassword != null" >
        #{userPassword,jdbcType=VARCHAR},
      </if>
      <if test="userFace != null" >
        #{userFace,jdbcType=VARCHAR},
      </if>
      <if test="userSex != null" >
        #{userSex,jdbcType=VARCHAR},
      </if>
      <if test="userPhone != null" >
        #{userPhone,jdbcType=VARCHAR},
      </if>
      <if test="userOico != null" >
        #{userOico,jdbcType=VARCHAR},
      </if>
      <if test="userEmail != null" >
        #{userEmail,jdbcType=VARCHAR},
      </if>
      <if test="userFrom != null" >
        #{userFrom,jdbcType=VARCHAR},
      </if>
      <if test="userAble != null" >
        #{userAble,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.wl.entity.TbUser" >
    update TB_USER
    <set >
      <if test="userName != null" >
        USER_NAME = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="userPassword != null" >
        USER_PASSWORD = #{userPassword,jdbcType=VARCHAR},
      </if>
      <if test="userFace != null" >
        USER_FACE = #{userFace,jdbcType=VARCHAR},
      </if>
      <if test="userSex != null" >
        USER_SEX = #{userSex,jdbcType=VARCHAR},
      </if>
      <if test="userPhone != null" >
        USER_PHONE = #{userPhone,jdbcType=VARCHAR},
      </if>
      <if test="userOico != null" >
        USER_OICO = #{userOico,jdbcType=VARCHAR},
      </if>
      <if test="userEmail != null" >
        USER_EMAIL = #{userEmail,jdbcType=VARCHAR},
      </if>
      <if test="userFrom != null" >
        USER_FROM = #{userFrom,jdbcType=VARCHAR},
      </if>
      <if test="userAble != null" >
        USER_ABLE = #{userAble,jdbcType=VARCHAR},
      </if>
    </set>
    where USER_ID = #{userId,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wl.entity.TbUser" >
    update TB_USER
    set USER_NAME = #{userName,jdbcType=VARCHAR},
      USER_PASSWORD = #{userPassword,jdbcType=VARCHAR},
      USER_FACE = #{userFace,jdbcType=VARCHAR},
      USER_SEX = #{userSex,jdbcType=VARCHAR},
      USER_PHONE = #{userPhone,jdbcType=VARCHAR},
      USER_OICO = #{userOico,jdbcType=VARCHAR},
      USER_EMAIL = #{userEmail,jdbcType=VARCHAR},
      USER_FROM = #{userFrom,jdbcType=VARCHAR},
      USER_ABLE = #{userAble,jdbcType=VARCHAR}
    where USER_ID = #{userId,jdbcType=DECIMAL}
  </update>
</mapper>