<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:mvc="http://www.springframework.org/schema/mvc" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.1.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.1.xsd
		http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.1.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.1.xsd">
          <!--  配置扫描管理所以的以com.wl开头的，其中有注解的，包括管理service -->
	<context:component-scan base-package="com.wl"></context:component-scan>

	<!-- 1、数据源 -->
	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource">
		<property name="url" value="jdbc:oracle:thin:@localhost:1521:orcl"></property>
		<property name="username" value="C##BBS"></property>
		<property name="password" value="maihe"></property>
		<property name="driverClassName" value="oracle.jdbc.driver.OracleDriver"></property>
	</bean>

	<!-- 2、sqlSessionFactory 生成sqlsession -->
	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<!-- 管理数据源 -->
		<property name="dataSource" ref="dataSource"></property>
		<!-- 管理我们的mapper.xml 映射 -->
		<property name="mapperLocations" value="classpath:com/wl/mapper/*.xml"></property>
		
	</bean>

	<!-- 3、指定dao的相关配置 -->
	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<!-- 指定dao的路径 -->
		<property name="basePackage" value="com.wl.dao"></property>
		<!-- 指定sqlsessionfactory的名字,交给spring来管理 -->
		<property name="sqlSessionFactoryBeanName" value="sqlSessionFactory"></property>
	</bean>
	<!-- 4、事务 -->
	<bean id="txTransactuionManage"
		class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<!-- 管理数据源 -->
		<property name="dataSource" ref="dataSource"></property>
	</bean>

	<!-- 5、声明式注解事务 -->
	<tx:annotation-driven transaction-manager="txTransactuionManage" />
    
    
</beans>
